<% content_for :content do %>
  <div class="w-full max-w-4xl mx-auto">
    <%= render "partials/flash" %>

    <div class="bg-white px-8 py-7 shadow-sm rounded-md">
      <%= yield %>
    </div>
  </div>
<% end %>
<%= render template: "layouts/application" %>
