<% content_for :navigation do %>
  <%= render "partials/header" %>
<% end %>

<% content_for :content do %>
  <main class="py-12">
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 space-y-6">
      <%= render "partials/flash" %>
      <%= yield %>
    </div>
  </main>
<% end %>

<%= render template: "layouts/application" %>
